html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
}

.contacts-navbar {
  width: 100%;
  height: 35%;
}

.header-image {
  width: 100%;
  height: 75%;
  filter: brightness(0.7);
  display: block;
  margin: 6rem 0;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-image {
  position: relative;
}

/* Contacts Info */
.contacts-info {
  width: 100%;
  height: 100%;
}

.maps-inner {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
  width: 100%;
  margin: 0;
  gap: 1rem;
}

.maps-box {
  width: 100%;
  text-align: center;
}

.maps-box:nth-child(2) {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.maps-box i {
  font-size: 45px;
  color: #cabe9f;
}

.maps-box h5 {
  color: #c0c0c0;
}

.maps-box i:hover {
  animation: rotation 0.2s infinite;
}

/* Contact form */
.form-top {
  padding: 6rem 0;
}

.contact-name input,
.contact-email input,
.contact-message textarea {
  border-radius: 0;
}

.contact-message textarea {
  resize: none;
  height: 150px;
}

.contact-box1 {
  grid-template-columns: auto auto;
  gap: 1rem;
}

.form-group input,
.form-group textarea {
  border: 2px solid #cabe9f;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: none;
  border: 2px solid #b8a87f;
  transition: 0.2s ease-in;
}

.contact-submit {
  background-color: #cabe9f;
  border-color: #cabe9f;
  border-radius: 0;
  width: 100%;
  color: #fefefe;
}

.contact-submit:hover {
  background-color: #b8a87f;
  border-color: #b8a87f;
  color: #fefefe;
}

.contact-submit:focus {
  background-color: #b8a87f;
  border-color: #b8a87f;
  color: #fefefe;
  box-shadow: none;
  --bs-btn-focus-shadow-rgb: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Phone version */

@media only screen and (max-width: 950px) {
  .maps-inner {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0;
    max-width: 100vw;
    gap: 2rem;
  }
}
