html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
}

.header-image {
  width: 100%;
  height: 33%;
  filter: brightness(0.7);
  display: block;
  margin: 5rem 0;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#navBlack {
  color: #3f4448 !important;
}

.maps-inner {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
}

.maps-box {
  width: 100%;
  text-align: center;
}

.maps-box i {
  font-size: 40px;
}

.maps-box i:hover {
  animation: rotation 0.2s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
