html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

header {
  height: 100vh;
  width: 100%;
}

.carousel {
  height: 100vh;
  width: 100%;
}

.carousel-item {
  height: 100vh;
  width: 100%;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.8);
}

.navbar {
  background-color: transparent;
  z-index: 1000;
  /* display: grid; */
  width: 100%;
}

.navLogo img {
  width: auto;
  height: 60px;
}

.navbar-nav li {
  margin: 0 2.5rem;
}

.nav-item a:hover {
  color: #ffcc99 !important;
}

.nav-item a {
  position: relative;
}

.nav-item a::before {
  content: "";
  position: absolute;
  width: 0%;
  top: 5;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  background-color: #cabe9f;
  transition: 0.3s ease-in-out;
}

.nav-item a:hover::before {
  width: 30%;
}

.navBgColor {
  background-color: #2a2d30;
  color: #eeeeee;
  opacity: 0.9;
  transition: 0.4s ease-in-out;
}

.MultilanguageBtn {
  border-color: none;
  outline: none;
  background-color: rgba(59, 59, 59, 0.212);
  font-family: "Lora", serif;
  font-size: 15px;
  color: #fefefe;
  border-radius: 3px;
}

.MultilanguageBtn:focus-visible {
  outline: none;
}

/* About The Builiding */
.aboutBuildingBox1 {
  display: grid;
  grid-template-columns: 600px 700px;
}

.aboutBuilding {
  padding: 5rem 0;
}

.aboutBuildingImg {
  width: 100%;
  height: 100%;
  display: grid;
  align-self: end;
  position: relative;
}

.aboutBuildingImg::before {
  position: absolute;
  content: "";
  top: 41px;
  right: 90px;
  z-index: -1;
  width: 625px;
  height: 457px;
  background-color: #cabe9f;
}

.aboutBuildingImg img {
  width: 85%;
  height: 80%;
  align-self: center;
}

.buildingContent {
  padding: 5rem 3.5rem;
}

.buildingInfoContent {
  position: relative;
  cursor: pointer;
}

.buildingInfo {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  justify-content: space-around;
}

.count-digit {
  font-size: 23px;
}

.buildingInfoContent p {
  font-size: 19px;
}

.buildingInfoContent p::after {
  content: "";
  position: absolute;
  /* left: 0; */
  right: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  background: linear-gradient(to right, #cabe9f 37%, #f5f5f5 100%);
  transition: width 0.25s ease-out;
}

.buildingInfoContent p:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

/* Our services */
.services {
  width: 100%;
  height: 100%;
  background-image: url("./images/background1.png");
  padding: 3.5rem 0;
}

.services-inner1 {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
  grid-gap: 30px;
  padding: 0 10rem;
  padding-bottom: 7rem;
}

.servicesHeading {
  display: grid;
  grid-template-columns: 555px 555px;
  justify-content: center;
  padding-bottom: 4rem;
}

.services-inner1 .col {
  display: grid;
  justify-content: center;
}

.servicesContent-box {
  width: 350px;
  cursor: pointer;
  display: grid;
  padding: 1.2rem;
  background-color: #f1f1f1;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.servicesContent-box h3 {
  font-size: 18px;
}

.servicesContent-box p {
  font-size: 14px;
}

.servicesContent-box:hover {
  color: white;
  background-color: #3f4448;
  transform: translate(0, -5%);
}

/* Premises Sizes Tabs */
.premisesSize {
  padding-bottom: 4rem;
}

.premisesHeading {
  display: grid;
  grid-template-columns: 555px 555px;
  justify-content: center;
  padding: 3.5rem 0;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.premisesTabs {
  list-style: none;
}

.premisesTabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.premisesTab {
  padding: 4rem 0;
}

.premisesBox-inner {
  display: grid;
  grid-template-columns: 470px 600px;
  gap: 2.5rem;
}

.premisesBox1 p {
  color: #3f4448;
  padding-bottom: 2.5rem;
}

.premisesBox2 {
  display: grid;
  align-content: center;
  width: 100%;
  height: 520px;
}

.premisesBox2 img {
  width: 100%;
  height: 100%;
}

.premisesTabs li {
  font-size: 20px;
  padding: 1.2rem 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.premisesTab.active {
  background-color: #cabe9f;
  position: relative;
}

.premisesTab.active::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: -12px;
  transform: translate(-50%, -50%);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 8px solid #cabe9f;
}

.premisesTabs li:hover {
  background-color: #cabe9f;
  transition: 0.2s ease-out;
}

.premisesRooms,
.premisesTotalArea,
.premisesParking,
.premisesPrices {
  display: flex;
  width: auto;
  /* height: 60%; */
  margin-bottom: 1.5rem;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}

.premisesRooms p,
.premisesTotalArea p,
.premisesParking p,
.premisesPrices p {
  padding: 0 !important;
  margin: 0.5rem !important;
}
/* End */
/* Complex Enterteinment */
.complexEntertainment {
  width: 100%;
  height: 100%;
  background-color: #3f4448;
  background-image: url("./images/background2.png");
  background-position: center;
}

/* accordion */
.complexEntertainmentAccordion .accordionContent {
  position: relative;
  margin: 1rem;
}

.accordionContent .accordionHeading {
  position: relative;
  cursor: pointer;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #d4d4d4;
}

.accordionContent .accordionHeading::before {
  position: absolute;
  content: "\f107";
  font: var(--fa-font-solid);
  color: black;
  position: absolute;
  top: 40%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 13px;
}

.accordionContent.active .accordionHeading::before {
  content: "\f106";
  font: var(--fa-font-solid);
  font-size: 13px;
}

.complexEntertainmentAccordion .accordionContent .accordionText {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.4s;
  /* overflow-y: auto; */
}

.complexEntertainmentAccordion .accordionContent.active .accordionText {
  height: 128px;
  margin: 0.6rem 0;
}

/* accordion end */
.complexEntertaimentHeading {
  display: grid;
  grid-template-columns: 555px 555px;
  justify-content: center;
  padding: 3.5rem 0;
}

.complexEntertainment-inner {
  display: grid;
  grid-template-columns: 390px 820px;
  width: 100%;
  height: 65vh;
  justify-content: center;
  padding-bottom: 5rem;
}

.complexEntertainmentAccordion {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
  overflow-y: scroll;
  padding: 1.2rem;
}

.complexEntertainmentAccordion::-webkit-scrollbar {
  width: 7px;
}

.complexEntertainmentAccordion::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #e0e0e0;
}

.complexEntertainmentAccordion::-webkit-scrollbar-thumb {
  background-color: #cabe9f;
  border-radius: 5px;
}

.complexEntertainmentImg {
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
  display: grid;
  align-items: center;
  position: relative;
}

.complexEntertainmentImg img {
  width: 100%;
  height: 100%;
}

/* complexEntertainmentParts */

.active[data-dote-content] {
  display: block;
}

.accordionText.active {
  height: 130px;
}

.complexEntertainmentParts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* Zone dotes */
.partsDote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.partsDote1 {
  position: absolute;
  left: -178px;
  top: -7px;
}

.partsDote2 {
  position: absolute;
  left: -355px;
  top: 140px;
}

.partsDote3 {
  position: absolute;
  left: -248px;
  top: 115px;
}

.partsDote4 {
  position: absolute;
  left: -320px;
  top: 79px;
}

.partsDote5 {
  position: absolute;
  left: -195px;
  top: 43px;
}

.partsDote6 {
  position: absolute;
  left: -355px;
  top: 195px;
}

.partsDote7 {
  position: absolute;
  left: -206px;
  top: 10px;
}

.partsDote8 {
  position: absolute;
  left: 0px;
  top: 25px;
}

.dote-outer {
  background-color: white;
  width: 15px;
  height: 15px;
  display: grid;
  justify-content: center;
  border-radius: 50%;
}

.dote-outer::before,
.dote-outer::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  z-index: -1;
}

.dote-outer::before {
  animation: pulse 2s ease-out infinite;
}

.dote-outer::after {
  animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.fa-circle-dot {
  color: #ffcc99;
}
/* Zone dotes end */
/* complexEntertainmentParts End */

/* News */
.news {
  padding: 2rem 0 10rem 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.news-content {
  transition: 0.2s ease-in;
  color: black;
  backface-visibility: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.news-content:hover {
  color: white;
  background-color: #3f4448;
  transform: scale(1.05);
}

.news-content {
  width: 100%;
  height: 100%;
  padding: 3rem 2.5rem;
}

.news-outerBox {
  grid-template-columns: 340px 340px 340px;
  justify-content: center;
}

.newsHeading {
  display: grid;
  grid-template-columns: 555px 555px;
  justify-content: center;
  padding: 3.5rem 1.2rem;
}

/* News End */
/* Footer */
#footer {
  background-color: #3f4448;
  color: white;
}

.footer-inner {
  grid-template-columns: 400px 400px 400px;
  justify-content: center;
  gap: 1.5rem;
  padding: 5rem 0 7rem 0;
}

.footer-address,
.footer-phone,
.footer-email {
  grid-template-columns: 100px auto;
}

.footer-agentInfo {
  grid-template-columns: 100px auto;
  margin-bottom: 1rem;
}

.footer-line {
  border-bottom: 1px solid #d4d4d4;
  opacity: 0.5;
  width: 85%;
  height: 2px;
  display: flex;
  margin: 0 auto;
}

.footer-agentPContacts,
.footer-agentEContacts {
  grid-template-columns: 50px auto;
}

.footer-socialMediaFB,
.footer-socialMediaIG,
.footer-socialMediaOB {
  grid-template-columns: 50px auto;
}

.footer-imageBox {
  width: 250px;
  height: 75px;
  transition: 0.2s ease-in;
}

.footer-imageBox:hover {
  transform: scale(1.1);
  transition: 0.2s ease-out;
}

.footer-imageBox img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.footer-socialMediaFB a,
.footer-socialMediaIG a,
.footer-socialMediaOB a {
  text-decoration: none;
  color: #fefefe;
}

.socialMedia-icons a {
  transition: 0.2s ease-in;
}

.socialMedia-icons a:hover {
  transition: 0.2s ease-out;
  color: #cabe9f;
}

/* Footer End */
/* End */
@media only screen and (max-width: 950px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .navLogo img {
    width: auto;
    height: 52px;
  }

  .navbar-nav li {
    align-self: center;
  }

  .MultilanguageMenu {
    display: none;
  }

  .services-inner1 {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 0 2rem;
    max-width: 100%;
    margin: 0;
  }

  .servicesHeading {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    margin: 0 1rem;
  }

  .servicesHeading h3 {
    padding: 0 !important;
    text-align: center;
  }

  .premisesBox-inner {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  }

  .premisesHeading {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    margin: 0 1rem;
  }

  .premisesTab {
    padding: 4rem 1rem;
  }

  .premisesTab.active::after {
    bottom: -11px;
  }

  .premisesSize {
    padding: 0;
  }

  .aboutBuilding-inner {
    max-width: 100vw;
    margin: 0;
  }

  .aboutBuildingBox1 {
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    padding: 0;
    max-width: 100vw;
  }

  .aboutBuildingBox1 .col {
    max-width: 100vw;
  }

  .buildingContent {
    padding: 3rem 3.5rem;
  }

  .aboutBuilding {
    max-width: 100vw;
  }

  .aboutBuildingImg {
    width: 100%;
    height: 400px;
  }

  .aboutBuildingImg img {
    width: 90%;
    height: 80%;
    justify-self: center;
  }

  .aboutBuildingImg::before {
    display: none;
  }

  .services {
    width: 100vw;
  }

  .buildingInfo {
    grid-template-columns: repeat(auto-fit, minmax(230px, 2fr));
    gap: 1.5rem;
    margin: 0;
  }

  .complexEntertainment {
    padding: 0;
  }

  .complexEntertaimentHeading {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    margin: 0 1rem;
  }

  .complexEntertainment-inner {
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    max-width: 100vw;
  }

  .complexEntertainmentAccordion,
  .complexEntertainmentImg {
    max-width: 100vw;
    justify-self: center;
  }

  .news-outerBox {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    margin: 0;
    padding: 0.5rem;
    gap: 1rem;
  }

  .newsHeading {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    margin: 0 1rem;
  }

  .footer-inner {
    grid-template-columns: repeat(auto-fit, minmax(210px, 2fr));
    max-width: 100vw;
    margin: 0;
  }
}
