@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

/* font-family: "Lora", serif; */
h3 {
  font-family: "Lora", serif;
}

.nav-item a {
  color: #eeeeee !important;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 19px;
}

.buildingInfo-inner1 h4,
.buildingInfo-inner2 h4,
.buildingInfo-inner3 h4,
.buildingInfo-inner4 h4 {
  font-family: "Lora", serif;
}

.buildingInfoContent p {
  font-family: "Lora", serif;
  font-weight: 500;
  font-style: italic;
  color: rgb(61, 61, 61);
}

.aboutBuildingContent1 p,
.aboutBuildingContent2 p {
  /* text-align: justify; */
  /* word-spacing: -2px; */
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 16px;
}

.servicesContent-box p {
  font-family: "Lora", serif;
}

.premisesTabs li {
  font-family: "Lora", serif;
}

.premisesBox1 p {
  font-family: "Lora", serif;
}

.premisesParkingLink {
  text-decoration: none;
  color: black;
  font-family: "Lora", serif;
  position: relative;
}

.premisesParkingLink:hover {
  color: #cabe9f;
}

.premisesParkingLink:hover::after {
  width: 100%;
}

.complexEntertaimentHeading h3 {
  color: #f5f5f5;
}

.accordionHeading h5 {
  font-size: 15px;
  font-family: "Lora", serif;
}

/* .complexEntertainmentInfo ul {
  padding: 1.5rem;
}

.complexEntertainmentInfo ul li {
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 1rem;
  font-family: "Lora", serif;
  font-size: 16px;
} */
